h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

body {
  background-color: #ffffff;
  color: #111518;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.08em;
  font-family: Montserrat, sans-serif;
}

.item {
  list-style: none;
}

a {
  text-decoration: none;
}

.link-line {
  text-decoration-line: underline;
}

.button {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 336px;
  height: 70px;
  color: #ff6b09;
  background-color: transparent;
  border: 2px solid #FF6B09;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button-primary {
  width: 354px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  text-align: center;
  background-color: #FF6B09;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .button-primary {
    max-width: 270px;
    height: 48px;
    font-size: 12px;
    line-height: 1.25;
    font-style: normal;
    padding: 18px 0px;
    width: 100%;
    letter-spacing: inherit;
  }
}

.container {
  padding: 20px;
  width: 100%;
}

.hero-container {
  height: 525px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) {
  .page-header-navigation-container {
    display: none;
  }
  .page-header-container {
    padding-top: 30px;
  }
}

.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
}

.title-grey {
  color: #B9B9B9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
}

.title-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.57;
}

.title-orange {
  color: #FF6B09;
}

.hero-title-undertitle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-picture {
  max-width: 208px;
  display: block;
  margin: 30px auto 0;
}

.hero {
  background-image: url("/images/bgimage/Bgmob.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -40px;
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: url("/images/bgimage/Bgmob.png");
  }
}

.features-list-item:first-child:before {
  background-image: url("/images/features/Group1.svg");
}

.features-list-item:nth-child(2):before {
  background-image: url("/images/features/Group2.svg");
}

.features-list-item:nth-child(3):before {
  background-image: url("/images/features/Group3.svg");
}

.features-list-item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.features-list-item {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  max-width: 216px;
  margin: 0 auto;
  padding-left: 68px;
}

@media screen and (max-width: 767px) {
  .features-list-item {
    margin-bottom: 30px;
  }
  .container-features {
    padding-top: 10px;
  }
}

.challenges {
  background-color: #111518;
}

.challenges .title {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  margin-top: 30px;
  text-align: left;
}

.challenges-list {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */