h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

ol {
  padding-left: 10px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

body {
  background-color: #ffffff;
  color: #111518;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.08em;
  font-family: Montserrat, sans-serif;
}

.item {
  list-style: none;
}

a {
  text-decoration: none;
}

.link-line {
  text-decoration-line: underline;
}

.button {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 336px;
  height: 70px;
  color: #ff6b09;
  background-color: transparent;
  border: 2px solid #FF6B09;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button-primary {
  width: 354px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  text-align: center;
  background-color: #FF6B09;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  align-items: center;
}

.bold-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
}

@media screen and (min-width: 320px) {
  .button-primary {
    max-width: 270px;
    height: 48px;
    font-size: 12px;
    line-height: 1.25;
    font-style: normal;
    padding: 18px 0px;
    width: 100%;
    letter-spacing: inherit;
  }
}

.container {
  padding: 20px;
  width: 100%;
}

.hero-container {
  height: 525px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) {
  .page-header-navigation-container {
    display: none;
  }
  .page-header-container {
    padding-top: 30px;
  }
}

.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
}

.title-grey {
  color: #B9B9B9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
}

.title-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.57;
}

.title-orange {
  color: #FF6B09;
}

.hero-title-undertitle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-picture {
  max-width: 208px;
  display: block;
  margin: 30px auto 0;
}

.hero {
  background-image: url("/images/bgimage/Bgmob.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -40px;
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: url("/images/bgimage/Bgmob.png");
  }
}

.features-list-item:first-child:before {
  background-image: url("/images/features/Group1.svg");
}

.features-list-item:nth-child(2):before {
  background-image: url("/images/features/Group2.svg");
}

.features-list-item:nth-child(3):before {
  background-image: url("/images/features/Group3.svg");
}

.features-list-item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.features-list-item {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  max-width: 216px;
  margin: 0 auto;
  padding-left: 68px;
}

@media screen and (max-width: 767px) {
  .features-list-item {
    margin-bottom: 30px;
  }
  .container-features {
    padding-top: 10px;
  }
}

.challenges {
  background-color: #111518;
}

.challenges .title {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  margin-top: 30px;
  text-align: left;
}

.challenges-list {
  list-style-type: none;
  counter-reset: my-counter;
}

.absolute-list .challenges-list-item {
  position: relative;
  margin-bottom: 10px;
}

.challenges-list-item::before {
  content: "     0" counter(my-counter);
  counter-increment: my-counter;
  color: #ff6b09;
  font-weight: 700;
  line-height: 1.22;
  padding-left: 22px;
  margin-bottom: 5px;
  display: inline-block;
}

.challenges-list-item::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: #ff6b09;
  top: 10px;
}

.challenges {
  height: 545px;
  width: 320px;
}

.section-position {
  position: relative;
}

.absolute-list {
  position: absolute;
  top: 210px;
  left: 20px;
  width: 263px;
  background: #FFFFFF;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.solutions {
  margin-top: 120px;
}

.solutions .title {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.solutions-list-item {
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.solutions-list-item:focus,
.solutions-list-item:hover {
  background: #FF6B09;
}

.solutions-list-item:focus,
.solutions-list-item:hover .solutions-title {
  color: white;
}

.solutions-list-item:focus,
.solutions-list-item:hover .solutions-text {
  color: white;
}

.solutions-list-item:focus,
.solutions-list-item:hover .solutions-list-item-dash {
  color: white;
}

.solutions-list-item:focus,
.solutions-list-item:hover .svg-icon {
  --color1: white;
}

.solutions-title {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.solutions-text {
  font-style: normal;
  text-align: center;
  color: #B9B9B9;
  padding-bottom: 5px;
}

.svg-icon {
  margin: 10px auto 20px;
  display: block;
}

.solutions-list-item-dash {
  display: block;
  color: #FF6B09;
  font-weight: 700;
  text-align: center;
  line-height: 1.65;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 320px) and (max-width: 747px) {
  .solutions-list-item {
    padding: 20px 10px;
    margin-bottom: 15px;
    width: 280px;
  }
}

.programm {
  background-color: #111518;
}

.programm-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 20px;
}

.program-list-item-title {
  position: relative;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  margin-top: 40px;
  text-transform: uppercase;
}

.topic-list-title {
  color: #FF6B09;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  margin: 10px 0;
}

.semester-list-item {
  color: #B9B9B9;
  opacity: 0.5;
  display: flex;
}

.photo-position {
  position: relative;
}

.semester-list::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0.5px;
  height: 1182px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  left: 75px;
  top: 50px;
}

.program-list {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.program-list-item-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #FF6B09;
  display: inline-block;
  border-radius: 50%;
  left: -30px;
  top: 8px;
  z-index: 1;
}

.programm-picture {
  position: absolute;
  left: 175px;
  top: 1280px;
}
/*# sourceMappingURL=main.css.map */