.challenges-list{
    list-style-type: none;
    counter-reset: my-counter;
}

.absolute-list .challenges-list-item{
    position: relative;
    margin-bottom: 10px;
}

.challenges-list-item::before{
     content: "     0" counter(my-counter);
    counter-increment: my-counter;
    color: rgba(255, 107, 9, 1);
    font-weight: 700;
      line-height: 1.22;
      padding-left: 22px;
      margin-bottom: 5px;
      display: inline-block;
}

.challenges-list-item::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #ff6b09;
    top: 10px;
}

.challenges{
    height: 545px;
    min-width: 320px;
}

.section-position{
    position: relative;
}

.absolute-list{
    position: absolute;
    top: 210px;
    left: 20px;
    width: 280px;
    background: #FFFFFF;
box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

@media screen and (min-width: 768px){
.absolute-list{
    width: 688px;
    height: 303px;
    left: 40px;
}

.challenges-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.challenges-list-item{
    width: 230px;
    padding-left: 20px;
    
}
    .challenges{
        height: 370px;
    }
}

@media screen and (min-width: 1400px){
    .challenges{
    background-image: url("/images/bgimage/fireblack.png");
    background-repeat: no-repeat;
    background-position: 90% 130%;
    height: 560px;
    width: 1400px;
}
.challenges-container{
    padding-top: 60px;
    margin-left: 30px;
   

}
 .absolute-list{
    padding-top: 70px;
    top: 365px;
    left: 40px;
    width: 1314px;
    min-height: 362px;
 }  
 .challenges-list{
     display: flex;
     margin-left: 90px;
     margin-right: 90px;
 }
 .challenges-list-item-text{
    font-weight: 700;
     font-size: 20px;
     line-height: 1.2;
     margin-bottom: 32px;
 }
 .challenges-list-item{
     width: 330px;
     
 }
 .challenges-list-item::before {
    font-size: 20px;

 }

}