.features-list-item:first-child:before{
    background-image: url("/images/features/Group1.svg");
}

.features-list-item:nth-child(2):before{
    background-image: url("/images/features/Group2.svg");
}

.features-list-item:nth-child(3):before{
    background-image: url("/images/features/Group3.svg");
}

.features-list-item::before{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
           background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      }

    .features-list-item{
     position: relative;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.43;
     max-width: 216px;
    margin: 0 auto;
    padding-left: 68px;
     }

@media screen and (max-width: 767px){
    .features-list-item:not(:last-child){
        margin-bottom: 30px; 
 }
.container-features{
    padding-top: 10px;
    
}
 }

