.footer{
    text-align: center;
}

.footer-contact{
 display: flex;
 justify-content: center;
 align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    margin-top: 20px;
    margin-bottom: 30px;
     
}

.footer-contact::before{
    content: "";
    display: inline-block;
    width: 20px;height: 20px;
    background-image: url("/images/svg/phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;

}

.footer-number{
    color: #111518;
    font-style: normal;
}

.logo-footer{
    margin-top: 10px;
}

.footer-social-link::after{
    content: "";
display: block;
width: 40px;height: 40px;
background-image: url("/images/svg/insta.svg");
margin: 0 auto 10px;
}

@media screen and (min-width: 768px){
.footer-container{
    display: flex;
    justify-content: space-between;
    height: 125px;
}
.logo-footer{
    width: 128px;height: 45px;
    margin: 0;
}
    .footer-contact{
        margin-left: 205px;
        font-size: 20px;
        letter-spacing: 0.08em;
       
    }
    .footer-social-link{
        border-left: 1px solid #B9B9B9;
       height: 40px;
       margin-bottom: 10px;
       padding-left: 24px;
    }

}