.footer-policy{
    background-color: $primary-text-color;
    color: #B9B9B9;
    text-align: center;
    font-size: 14px;
line-height: 2;
}

@media screen and (min-width: 768px){
.footer-policy{
    height: 70px;
}
 
.text-footer-policy{
    text-align: left;
    padding: 20px 0;
    padding-left: 40px;

}
    .container-policy{
        padding: 0;
    }
}

@media screen and (min-width: 1400px){
    .text-footer-policy{
        padding-left: 10px;
    }
    }