
.guarantee .title{
  margin-bottom: 30px;
  text-align: center;
}

.bg-grey{
    background: #F1F1F1;
    margin-bottom: 50px;
}

.guarantee-list{

    padding-top: 10px;
 padding-bottom: 11px;
    color: #3D3D3D;
}

.guarantee-list::before{
 content: "";
 display: inline-block;
 position: absolute;
 width: 0.5px;
 height: 312px;  

    border-radius: 50%;
    left: 46px;
    border: 1px dashed #B9B9B9;

}

.guarantee-list-item{
    position: relative;
}

.guarantee-list-item:not(:last-child){
    margin-bottom: 23px;
}

.guarantee-list-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 35px;
    background-image: url("/images/svg/fire.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    background-color: #F1F1F1;
    top: -8px;
   border-top: solid 5px #F1F1F1;
   
}

.guarantee-text{
    padding-left: 35px;
}