

.bg-grey{
    background: #F1F1F1;
    margin-bottom: 50px;
}

.guarantee-list{

    padding-top: 10px;
 padding-bottom: 11px;
    color: #3D3D3D;
}

.guarantee-list::before{
 content: "";
 display: inline-block;
 position: absolute;
 width: 0.5px;
 height: 312px;  

    border-radius: 50%;
    left: 26px;
    border: 1px dashed #B9B9B9;

}

.guarantee-list-item{
    position: relative;
}

.guarantee-list-item:not(:last-child){
    margin-bottom: 23px;
}

.guarantee-list-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 35px;
    background-image: url("/images/svg/fire.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    background-color: #F1F1F1;
    top: -8px;
   border-top: solid 5px #F1F1F1;
   
}

.guarantee-text{
    padding-left: 35px;
}

@media screen and ( min-width: 768px){
    .bg-grey{
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 50px;
        
    }
    .guarantee-list-item{
        width: 605px;
        padding-left: 63px;
    }
    .guarantee-list::before {
        left: 123px;
        height: 210px;
    }

    .guarantee-list-item::before{
        top: -5px;
        height: 30px;
    }
}

@media screen and (min-width: 1400px){
    .bg-grey {
        min-width: 1314px;
    }

    .guarantee-list{
        padding: 50px 112px 45px;
    }

    .guarantee-list-item{
        margin: 0;
        padding: 0;
        width: 100%;
        
    }

    .guarantee-list-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .guarantee-text{
        font-size: 20px;
        line-height: 1.4;
        padding-left: 40px;
    }
    
    .guarantee-list-item::before {
        width: 22px;
        height: 30px;
        top: -3px;
        
    }

    .guarantee-list::before {
        left: 183px;
        height: 242px;
    }

}