.header {
    position: relative;
      width: 100%;
      }

   
     
    .site-nav-item{
        font-weight: 800;
font-size: 20px;
line-height: 1.8;
letter-spacing: 0.03em;
    }

    .site-nav-item-link{
      color: #fff;
    }
        
.logo-white{
  margin-bottom: 30px;
}

    .button.burger{
        width: 260px;
        height: 48px;
        padding: 16px 5px;
        font-size: 12px;
        line-height: 1.25;
        margin-top: 50px;
    }
    

.mobile-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigator-btn{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1;
 
}


.navigator-btn.is-open .icon-close{
  display: block;
}

.icon-close {
    display: none;

  }

  // @media screen and (max-width: 767px){
    .mobile-menu{
      display: none;
      position: absolute;
      padding: 21px 20px;
      top: 0;
      left: 0;
      width: 100%;
      height: 568px;
      text-align: left;
      background: rgba(17, 21, 24, 0.9);

       &.is-open {
          display: block;
        }
  

  .button.burger-menu{
    display: none;
  }
  }

 

 @media screen and (min-width: 768px){
.button.burger{
  display: none;

}
.button.burger-menu{
  display: block;
  width: 260px;
        height: 48px;
        padding: 16px 5px;
        font-size: 12px;
        line-height: 1.25;
       margin-left: 190px;

}

.svg-logo{
  width: 128px;
  height: 45px;
}
 }