

.title-grey{
color: $secondary-text-color;
font-weight: 500;
font-size: 14px;
line-height: 1.57;
}

.title-bold{
      font-weight: bold;
    font-size: 14px;
    line-height: 1.57;
}

.title-orange{
    color: $orange-color;
}

.hero-title-undertitle{
    margin-top: 30px;
    
}

.hero-picture{
    max-width: 208px;
    display: block;
    margin: 30px auto 0;
}

.hero{
    background-image: url("/images/bgimage/Bgmob.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -40px;
  
}


@media screen and (min-width: 320px){
.hero{
    background-image: url("/images/bgimage/Bgmob.png");
 

}
}

@media screen and (min-width: 768px){
    .hero{
        background-image: url("/images/bgimage/Bgtab.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .hero-container{
        display: flex;
        justify-content: space-between;
        padding-right: 18px;
        align-items: center;
        padding-top: 0;
            
    }

    .leftside-hero{
        padding-right: 60px;
            }

.button-primary{
    margin-left: 0;
}

.hero-picture{
    margin-top: 0;
    min-width: 375px;
    height: 320px;
}
}

@media screen and (min-width: 1400px){
    .hero{
        background-image: url("/images/bgimage/Bgdesc.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom -40px;
    }

    .hero-picture{
         min-width: 841px;
       height: 718px;
       position: absolute;
       top: 150px;
       left: 660px; 
    }
    .hero-container{
        display: flex;
        justify-content: flex-start;
         height: 800px;
    }

   
    .leftside-hero{
        padding-right: 0;
              
    }
    .title-grey , .title-bold {
        font-size: 20px;
    }

    .title-bold.title-orange{
        font-weight: 700;
    }
}