
.programm {
background-color: $primary-text-color;
}

.programm-title {
    font-weight: 800;
font-size: 20px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.03em;
color: $white-color;
margin-top: 20px;
}

.program-list-item-title{
    position: relative;
color: $white-color;
font-weight: 700;
font-size: 14px;
line-height: 2;
margin-top: 40px;
text-transform: uppercase;

}

.topic-list-title{
    color: $orange-color;
font-weight: 700;
font-size: 12px;
line-height: 1.66;
margin: 10px 0 ;
}

.topic-list-item{
       color: $secondary-text-color;
    opacity: 0.5;
    display: flex;
}


.photo-position{
    position: relative;
}

.semester-list::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 0.5px;
height: 1193px;
background: rgba(255, 255, 255, 0.1);
border-radius: 50%;
left: 75px;
top: 19px;

}

.program-list{
     margin-left: 100px;
}

.program-list-item-title::before{
    content: "";
    position: absolute;
    width: 12px;
height: 12px;
background: #FF6B09;
display: inline-block;
border-radius: 50%;
left: -30px;
top: 8px;
z-index: 1;
}

.programm-picture{
    position: absolute;
    top: 1287px;
    right: -20px;
    z-index: 1;
}

@media screen and(min-width: 768px){
    .semester-list::before{
        height: 710px;
    }
    .semester-list{
        display: flex;
              
    }

    .program-list{
        margin-left: 125px;
    }

    
    .semester-list-item:not(:last-child){
        margin-right: 62px;
    }

    .topic-list-item{
        width: 157px;
    }
    .programm-title{
        text-align: left;
        font-size: 26px;
    }
    .program-list-item-title::before {
        left: -55px;
 }

 .programm-picture{
     top: 670px;
     right: -40px;
 }

}

@media screen and ( min-width: 1400px) {
.programm-title{
   padding-top: 120px;
   font-size: 46px;
   margin-bottom: 120px;
}

    .program-list{
        display: flex;
        align-items: flex-start;
        margin-left: 0;
    }    

    .program-list-item{
        display: flex;
        flex-direction: column;
        
    }

    .semester-list {
        display: flex;
        flex-direction: column;
}

    .program-list-item-title{
        font-size: 20px;
        
    }
    .topic-list-title{
        font-size: 20px;
        line-height: 1.65;
        letter-spacing: 0.08em;
    }
    .topic-list-item{
        font-size: 18px;
        width: 195px;
        
    }

 
    .semester-list::before {
        height: 1409px;
        transform: rotate(90deg);
        top: -731px;
        left: 661px;
}

.program-list-item-title::before {
    width: 17px;
    height: 16px;
    left: 0px;
    top: -74px;
}

.programm-picture {
    position: absolute;
    top: 334px;
    left: -43px;
    right: unset;
    width: 550px;
      
    
}
}