
.challenges{
    background-color: #111518;

    & .title{
        color: $white-color;
        font-weight: 800;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.03em;
    margin-top: 30px;
     text-align: left;
    }
}

