.registration-title{
    font-weight: 800;
font-size: 14px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.03em;
 color: $white-color;
 padding-left: 10px;
 padding-right: 10px;
}

.registration{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.registration-title-zayavka{
    font-weight: 600;
line-height: 1.25;
font-size: 12px;
color: $white-color;
text-align: center;
padding-left: 10px;
padding-right: 10px;
margin-top: 30px;
margin-bottom: 30px;
}

.input-form{
    width: 280px;
    height: 48px;
      border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
}

.input-form:not(:last-child){
    margin-bottom: 20px;
}

.input-form::placeholder{
    padding: 15px 0 16px 28px;
    font-weight: 600;
    font-style: normal;
font-size: 14px;
line-height: 1.214;
letter-spacing: 0.08em;
color: $white-color;
}

@media not all, screen and (max-width: 767px) and (min-resolution: 2dppx), screen and (max-width: 767px) and (min-resolution: 192dpi){
.registration{
    background-image: url("/images/bgimage/registrmob.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111518;
}
}
    


@media not all, screen and (min-width: 768px) and 
(min-resolution: 2dppx), screen and (min-width: 768px)
 and (min-resolution: 192dpi){
    .registration {
    content: "";
    background-image: url("/images/bgimage/registrtab@2x.png");
    background-color: #111518;
}
 }
 @media screen and (min-width: 768px) {
    .registration{
        background-image: url("/images/bgimage/registrtab.png");
        background-repeat: no-repeat;
        background-size: cover;
       min-width: 720px;
       background-position: 50%;
    }

    .registration-title{
        font-size: 26px;
    }

    .registration-title-zayavka{
        font-size: 14px;
        margin-bottom: 40px;
        padding: 0 85px;
    }

    .form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .input-form{
        width: 390px;
    }

    .registration .button-primary{
        margin-top: 11px;
    }
}