.reviews-text-grey{
    color: $secondary-text-color;
    // margin: 10px auto;

}

.reviews .title-orange{
    font-weight: 800;
font-size: 14px;
line-height: 1.214;
margin-bottom: 10px;
}

.reviews-text{
    text-align: center;
    color: #3D3D3D;
    letter-spacing: 0.03em;
    padding: 10px;
}

.wrapper{
    padding: 20px;
    width: 280px;height: 565px;
    // border: 1px solid grey;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slider{
    width: 280px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

 @media screen and (min-width: 320px){
      .avatar{
        width: 90px;
         height: 90px;
         margin: 0px auto 26px;
        
     }
    }

    @media screen and (min-width: 768px) {
               .reviews .title-orange{
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 20px;

        }

        .reviews-text-grey{
             margin-bottom: 20px;
        }

        .title.main-text{
            text-align: center;
        }

        .wrapper{
            width: 100%;
            display: flex;
            height: 100%;

        }

        .left-side-reviews{
            margin-right: 25px;
        }

        .reviews-text {
            padding: 0;
        }

        .right-side-reviews{
            padding-right: 40px;
            padding-bottom: 40px;
        }

       .avatar{
           width: 150px;height: 150px;
           margin: 20px;
       }
       .slider{
           width: 558px;
           height: 54px;
       }
    }
    
    @media screen and (min-width: 1400px) {
        .wrapper{
            max-width: 1090px;
       margin: 0 auto;
    }
        
     .reviews-text{
        text-align: left;
    }

    .reviews-br{
        display: none;
    }

    .avatar{
        margin-left: 82px;
    }

    .svg-icon{
        margin-left: 140px;
        
    }

    .left-side-reviews{
        margin-right: 22px;
    }

    .right-side-reviews{
        margin-right: 82px;
            }
         .title-orange{
            font-size: 30px;
            margin-bottom: 10px;
        }

        .reviews .reviews-text{
            font-size: 18px;
            line-height: 1.5;
        }
    }