.solutions{
    margin-top: 120px;

    & .title{
        text-align: center;
        margin-bottom: 30px;
    }
}

.solutions-list-item{
        box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
 }

.solutions-list-item:focus, 
.solutions-list-item:hover {
    background: $orange-color;
}

.solutions-list-item:focus, 
.solutions-list-item:hover .solutions-title{
color: white;
}
.solutions-list-item:focus, 
.solutions-list-item:hover .solutions-text{
    color: white;
    }
    .solutions-list-item:focus, 
    .solutions-list-item:hover .solutions-list-item-dash{
        color: white;
        }
        .solutions-list-item:focus, 
        .solutions-list-item:hover .svg-icon {
            --color1: white;
            }


.solutions-title{
    font-weight: 700;
font-size: 14px;
text-align: center;

  
}

.solutions-text{
    font-style: normal;
    text-align: center;
    color: $secondary-text-color;
    padding-bottom: 5px;

}

.svg-icon{
    margin: 10px auto 20px;
    display: block;
   
}

.solutions-list-item-dash{
    display: block;
    color: $orange-color;
      font-weight: 700;
  text-align: center;
    line-height: 1.65;
font-size: 20px;
margin-top: 5px;
    margin-bottom: 5px;
}
 

@media screen and (min-width: 320px) and (max-width: 747px){
    .solutions-list-item{

    padding: 20px 10px;
    margin-bottom: 15px;
    width: 280px;
    }
}


    


