.teacher .title{

margin-bottom: 20px;
}

.title-name{
font-weight: 800;
font-size: 20px;
line-height: 24px;
margin-top: 20px;
margin-bottom: 10px;
border-bottom: 1px solid #B9B9B9;
padding-bottom: 10px;
Width: 290px;
}

.tracher-list-item{
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 1.21;
letter-spacing: 0.06em;
margin-bottom: 20px;
}




.tracher-list{
    position: relative;
    margin-bottom: 23px;
}

.tracher-list-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 16px;
    background-image: url("/images/svg/galocka.svg");
    background-repeat: no-repeat;
    background-position-y: 1px;
}

.teacher-list-text{
    padding-left: 25px;
}

.teacher .solutions-text{
    text-align: left;
    margin-bottom: 10px;
}

.teacher-text-dash::before{
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: $orange-color;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .teacher-container{
        display: flex;
    }
    .rightside-teacher{
        margin-top: 80px;
        margin-left: 40px;
       
    }
.title-name{
    width: 413px;
    margin-top: 30px;
}
.tracher-list{
    padding-right: 58px;
}
.teacher .title {
    margin-bottom: 30px;
}
}

@media screen  and ( min-width: 1440px) {
    .title-name {
         margin-top: 80px;
      font-size: 30px;    
      border-bottom: 1px solid #B9B9B9;
    padding-bottom: 15px;
    Width: 780px;   
    }    

    .teacher-list-text{
        font-size: 16px;
        padding-left: 50px;
    }

    .tracher-list-item::before {
       width: 24px;
        height: 20px;
        background-size: cover;
        background-position-y: -2px;
    }

    .rightside-teacher{
        width: 642px;
    }

    .image-teacher{
        width: 495px;
        height: 588px;
    }

        .tracher-list{
            margin-top: 30px;
        }

.tracher-list-item{
    margin-bottom: 30px;
}
    .link-line{
        font-size: 18px;
    }
}