$primary-text-color: #111518;
$secondary-text-color: #B9B9B9;
$white-color: #FFFFFF;
$orange-color:#FF6B09;

.orange-text-color{
    color: $orange-color;
    }

    .main-text{
        font-weight: 800;
font-size: 20px;
line-height: 1.36;
letter-spacing: 0.03em;
    }